<div class="col-md-10">
    <h1>Categories</h1>
    <br>
    <%= button_to 'Create Category', new_category_path, :class => 'btn btn-lg btn-primary', :method => 'get' %>
    <br>
    <div class="well">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <% @categories.each do |cat| %>
                <tr>
                    <% if cat.positive %>
                        <td><a style="color: blue;" href="/categories/<%= cat.id %>" target="_blank"><%= cat.name %></a></td>
                        <td><a style="color: blue;" href="/categories/<%= cat.id %>" target="_blank"><%= cat.description %></a></td>
                    <% else %>
                        <td><a style="color: red;" href="/categories/<%= cat.id %>" target="_blank"><%= cat.name %></a></td>
                        <td><a style="color: red;" href="/categories/<%= cat.id %>" target="_blank"><%= cat.description %></a></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>
</div>